.listContainer {
    display: flex;
    flex-direction: column;
}

.listContainer ul {
    list-style-type: none;
    padding: 8px;
}

.listHeader {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.newElem {
    align-self: center;
}